/*navbar */
.navbar{
  position: relative;
  z-index: 1;
}

.navbar-brand{
  font-family: viga;
  font-size: 32px;
}

.profil-photo{
  height: 100px;
  width: 100px;
}

.sub{
  font-size: 14px;
  color: #ACACAC;
  font-weight: 200;
  margin-top: -5px;
}





@font-face{
  font-family: 'viga';
  src: url('../../fonts/Viga-Regular.ttf');
}

/* jumbotron */

.landing-jumbotron{
  background-image: url('../../img/bg/jumbotron-bg.jpg');
  background-size: cover;
  height: 540px;
  text-align: center;
  position: relative;

}

.landing-jumbotron .container{
  position: relative;
  z-index: 1;
}

.landing-jumbotron::after{
  content: '';
  display: block;
  width: 100%;
  height: 80%;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
}

.landing-jumbotron .display-4{
  color: white;
  
  margin-top: 150px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
  font-size: 40px;
  margin-bottom: 30px;
}

.landing-jumbotron .display-4 span{
  font-weight: 500;
}

.info-panel{
  box-shadow: 0 3px 20px rgba(0,0,0,0.5);
  border-radius: 12px;
  margin-top: -50px;
  background-color: white;
  padding: 30px;
}
.info-panel img{
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.info-panel h4{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
}

.info-panel p{
  font-size: 14px;
  color: #ACACAC;
  font-weight: 200;
  margin-top: -5px;
}

/* workingspace */
.workingspace{
  margin-top: 120px;
  text-align: center;
}

.workingspace h3{
  font-size: 45px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 30px;

}

.workingspace h3 span{
  font-weight: 500;

}

.workingspace p{
  font-size: 15px;
  color: #ACACAC;
  font-weight: 200;
  margin: 25px 0;
}

.page-footer{
  margin-top: 50px;
}


/* Utility */

.tombol{
  text-transform: uppercase;
  border-radius: 40px;
}

/* halaman home kursus */

.list-kursus{
  font-size: 12px;
  width: 800px;
  margin-left: 50px;
  margin-top: 10px;
}

.card-header{
  font-size: 14px;
  height: 40px;
}

.scroll-menu{
  width: 800px;
  height: 600px;
  margin-left: 50px;
  overflow-y: auto;
}


/* Desktop version */

@media (min-width: 992px) { 

  .navbar-brand, .nav-menu {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
  }

  .nav-menu{
    text-transform: uppercase;
    margin-right: 30px;
  }
  .nav-menu:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid rgb(44, 110, 250);
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .landing-jumbotron{
    margin-top: -75px;
    height: 640px;
  }
  .landing-jumbotron .display-4{
    font-size: 62px;
  }

  .workingspace{
    text-align: left;
  }
}